<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="school" class="com.zwm.pojo.School">
        <property name="schoolName" value="华南理工大学"/>
        <property name="schoolAddress" value="广东省广州市天河区五山路381号"/>
    </bean>
    <bean id="student" class="com.zwm.pojo.Student">
        <property name="name" value="kroll"/>
        <property name="age" value="24"/>
        <property name="mySchool" ref="school"/>
    </bean>
</beans>